* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app___dropdown {
  background-color: white;
}

.app___header > h1 {
  color: black;
  font-size: 2rem;
}

.app___header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app___left {
  flex: 0.9;
}

.app___stats {
  display: flex;
  justify-content: space-between;
}

.app___right {
  display: flex;
  flex-direction: column;
}

.app___right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app___graph {
  flex-grow: 1;
}

.app___graphTitle {
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
